@import url("https://use.typekit.net/qic4ixk.css");

body {
  width: 500px;
  height: 500px;
  margin: 0;
}

#header {
  background-color: #d1495b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#app-name {
  margin: 0;
  color: white;
}

#content {
  padding: 0px 15px 15px 15px;
}

#title {
  font-family: adobe-garamond-pro, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 22px;
}

#keyword {
  font-family: adobe-garamond-pro, "Times New Roman", Times, serif;
  text-align: left;
  line-height: 1.5;
  font-weight: 500;
  font-size: 15px;
}


#url {
  /* text-align: center;
  border: 0.5px solid #000;
  padding: 10px; */
  visibility: hidden;
}

#img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}

.keyword-list {
  font-family: Arial, sans-serif;
  list-style-type: none;
  padding: 0;
}

.keyword-item {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.keyword-item strong {
  font-weight: bold;
}